:root {
    --cocoa: #786253;
    --lav: #867A82;
    --mint: #89AF9D;
    --pistachio: #C3D9D4;
    --cotton: #BAE8EE;
    --Mplus: "M PLUS Rounded 1c", sans-serif;
    --marker: "Permanent Marker", cursive;
}
*{
    color: var(--cotton);
    font-family: var(--Mplus);
}
body {
    background-color: var(--cocoa);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--marker);
}
h3{
    font-size: 100%;
    margin: auto 40%;
}
h2 {
    margin: 20px 30%;
}
/* ######### Header ######### */
/* ########################### */
header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}

/* styling collection placement of nav items */
nav ul {
    display:inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

/* styling appearance of nav items */
nav ul li a {
    margin: auto 10px;
    text-decoration: none;
    color: var(--pistachio);
    font-family: var(--marker);

}

/* ######### About ######### */
/* ######################### */

#portrait {
    max-width: 100%;
    max-height: auto;
}

/* ######### Project Gallery ######### */
/* #################################### */
.card {
    background-color: var(--lav);
    margin: 5px auto;
    box-shadow: 5px 8px 10px var(--mint);
}
.card-title {
    text-align: center;
    font-size: 200%;
}
.cardlinkarea {
    display: flex;
    justify-content: space-evenly;
    
}
.projlink {
    background-color: var(--mint);
}
.projlink:hover {
    background-color: var(--pistachio);
}
#spotlight {
    max-width: 75%;
}

/* ######### Contact Me ######### */
/* ############################## */
.clinks{
    display: flex;
    justify-content: space-around;
}
.clinks img {
    height: 50px;
    width: auto;
}

#resumeicon {
    height: 70px;
    width: auto;
}